/* source keypos definitions */
#include "../zmk-helpers/keypos_def/42.h"


/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

/ { chosen { zmk,matrix-transform = &default_transform; }; };
